<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Analysis</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        select, button {
            font-size: 16px;
            padding: 8px;
            margin: 10px;
        }
    </style>
</head>
<body>

    <h2>Select Teams for Analysis</h2>
    <form action="/teamvsteam" method="get">
        <label for="team1">Team 1:</label>
        <select name="team1">
            {% for i in teams %}
                    <option>{{i}}</option>
            {% endfor %}

        </select>

        <label for="team2">Team 2:</label>
        <select name="team2">
            {% for i in teams %}
                    <option>{{i}}</option>
            {% endfor %}
        </select>

        <br>

        <button>Analyze</button>
        <a href="/batsman-details">
                <button type="button" class="btn btn-signup">Get Batsman Details</button>
            </a>
    </form>

    <p>
        {% if result %}
        {% for i in result %}
            <p> {{ i }} : {{ result[i] }}</p>
        {% endfor %}
        {% endif %}

    </p>

    <script>
        function analyzeTeams() {
            let team1 = document.getElementById("team1").value;
            let team2 = document.getElementById("team2").value;
            if (team1 === team2) {
                alert("Please select different teams for analysis.");
            } else {
                alert("Analyzing " + team1 + " vs " + team2);
            }
        }
    </script>

</body>
</html>
